<!DOCTYPE html>
<html ng-app="app">
<head>
	<meta charset="UTF-8">
	<title></title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="keywords" content="銘锘后台管理系统" />
	<meta name="description" content="銘锘后台管理系统" />

	<link rel="stylesheet" type="text/css" href="build/css/mn.base.css">
	<link rel="stylesheet" type="text/css" href="build/css/mn.main.css">
	<link rel="stylesheet" type="text/css" href="build/css/mn.login.css">
</head>
<body ng-controller="ctrl">

	<div class="login-container">
		<h1 class="login-title">后台管理系统</h1>
		<div class="login-form">

			<div class="login-form-group">
				<select ng-model="userObj.adminType">
					<option value="">==请选择管理员类型==</option>
					<option value="{{item.id}}" ng-repeat="item in adminTypeArr" ng-bind="item.name"></option>
				</select>
			</div>

			<div class="login-form-group">
				<label class="user"></label>
				<input type="text" placeholder="请输入账号" ng-model="userObj.userName"/>
			</div>

			<div class="login-form-group">
				<label class="password"></label>
				<input type="password" placeholder="请输入密码" ng-keyup="onKeyPressLogin($event)" ng-model="userObj.pwd"/>
			</div>

			<div class="login-form-rem">
				<span class="selBtn" ng-class="{'0':'unSelected','1':'hasSelected'}[isRemember]" ng-click="onClickRemember()"></span>
				<span>记住我？</span>
			</div>

			<div class="login-form-btn" ng-click="onClickLogin()">登录</div>

		</div>
		<h4>2017 © 銘锘网络</h4>
	</div>

</body>

<!--libs-->
<script src="app/libs/jquery.min.js"></script>
<script src="app/libs/angular.min.js"></script>

<!--config-->
<script src="projectConfig.js"></script>
<script src="build/config/mn.config.text.js"></script>
<script src="build/config/mn.config.const.js"></script>
<script src="build/config/mn.config.url.js"></script>

<script src="build/common/mn.common.js"></script>
<script src="build/common/mn.fn.js"></script>

<!--http-->
<script src="build/http/mn.http.js"></script>

<!--controller-->
<script src="app/controller/LoginController.js"></script>
</html>
