
<div style="overflow:hidden;">
    <div class="f" style="width: 50%;padding: 0 15px">
        <div class="form-item">
            <div class="f form-title">
                <div ng-bind="levelObj.firstLevel.optDesc">一级：</div>
            </div>
            <div class="form-input-full">
                <select class="option firstLevel">
                    <option>==请选择==</option>
                </select>
            </div>
        </div>
    </div>
    <div class="f" style="width: 50%;padding: 0 15px">
        <div class="form-item">
            <div class="f form-title">
                <div ng-bind="levelObj.secondLevel.optDesc">二级：</div>
            </div>
            <div class="form-input-full">
                <select class="option secondLevel">
                    <option>==请选择==</option>
                </select>
            </div>
        </div>
    </div>
</div>