<div class="container">

    <!--titles-->
    <div class="title">
        <i class="title-icon ion-grid"></i>
        <b>货源列表</b>
        <div class="title-btn">
            <a class="btn btn-default ripple" ng-click="onClickAddSource()"><i class="ti-plus"></i><span>添加</span></a>
        </div>
    </div>

    <div class="list-content">

        <div class="table-box">

            <div class="table-scroll">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>序号</th>
                        <th>货源名称</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in dataModel.sourceList">
                        <td ng-bind="item.index"></td>
                        <td ng-bind="item.sourceName"></td>
                        <td>
                            <a class="btn btn-default ripple" ng-click="onClickModSource(item)">修改</a>
                            <a class="btn btn-danger ripple" ng-click="onClickDelSource(item.id)">删除</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <table-empty isempty="isEmpty"></table-empty>
        </div>

        <my-pagination page-option="option"></my-pagination>

    </div>

    <div ng-include="'modules/product/modal/modal.editProductSource.html'"></div>

</div>